/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 *
 */

/*
 *
 * fonts and type
 *
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

html {
 font-family: 'Open Sans', 'Arial', sans-serif;
 font-size: 18px;
 line-height: 1.6em;
}

body {
	margin: 0;
	padding: 0;
  background-color: rgb(127,127,127);
}

p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear:both;
}

p2 {
  width: 80%;
  margin: 0;
  margin-left: 20px;
  clear:both;
}

.very-small {
    font-size: 50%;
}

.small {
    font-size: 75%;
}

.large {
    font-size: 125%;
}

.very-large {
    font-size: 150%;
}

/*
 *
 * Classes for changing location of things
 *
 */

#occluder {
  float: middle;
  border:solid 1px #7F7F7F;
  height: 100vh;
  width: 100vw;
  margin: auto;
  top: 40px; bottom: auto; left:0; right: 0;
  background: #7F7F7F;
  position: absolute;
  z-index: 12;
}

#score {
  width:20vw;
}

#example_screen{
  border: solid 5px #FFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center-content {
    text-align: center;
}

#prompt {
   text-align: center;
   font-weight: bold;
   margin: 4px 8px;
}

#jspsych-image-button-response-sketch {
  padding:10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3px;
}

#jspsych-image-button-response-btngroup {
  margin: auto;
  margin-top: 0;
  padding: 1px;
  text-align: center;
}

#jspsych-image-button-response-sketch {
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/*
 *
 * Form elements like input fields and buttons
 *
 */

input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-sefif;
    font-size: 14px;
}

button {
    padding: 0.8em;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    color: #555;
    font-weight: bold;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    border:1px solid #ccc;
}

/*
 *
 * Container holding jsPsych content
 *
 */


.jspsych-display-element {
    width: 100%;
    height: 600px;
    margin: 0 0 0 0;
}

/*
 *
 * jsPsych progress bar
 *
 */

#jspsych-progressbar-container {
	color: #777;
	border-bottom: 0px solid #dedede;
	background-color: #f3f3f3;
	margin-bottom: 0em;
	text-align: center;
	padding: 0px 0px;
}

#jspsych-progressbar-container s {

}

#jspsych-progressbar-outer {
	background-color: #dedede;
	border-radius: 5px;
	padding: 1px;
	width: 800px;
	margin: auto;
}

#jspsych-progressbar-inner {
	background-color: #aaa; /* #3EB3D7; */
	width: 0%;
	height: 0.5em;
	border-radius: 5px;
}

/*
 *
 * PLUGIN: jspsych-animation
 *
 */

#jspsych-animation-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize-animation
 *
 */

#jspsych-categorize-animation-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-categorize
 *
 */

#jspsych-categorize-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-free-sort
 *
 */

#jspsych-free-sort-arena {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444;
}

.jspsych-free-sort-draggable {
  cursor: move;
}

#jspsych-free-sort-done-btn {
  display: block;
  margin: auto;
  margin-top: 25px;
}

/*
 *
 * PLUGIN: jspsych-instructions
 *
 */

 .jspsych-instructions-nav {
   text-align: center;
   margin-top: 2em;
 }

 .jspsych-instructions-nav button {
   margin: 20px;
 }
/*
 *
 * PLUGIN: jspsych-multi-stim-multi-response
 *
 */

#jspsych-multi-stim-multi-response-stimulus {
  display: block;
  margin: auto;
}

/*
 *
 * PLUGIN: jspsych-palmer
 *
 */

#jspsych-palmer-snapCanvas {
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-same-different
 *
 */

.jspsych-same-different-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-single-stim
 *
 */

#jspsych-single-stim-stimulus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-survey-text
 *
 */

 .jspsych-survey-text {
     margin: 0.25em 0em;
 }

 .jspsych-survey-text-question {
     margin: 2em 0em;
 }

 /*
  *
  * PLUGIN: jspsych-survey-likert
  *
  */

.jspsych-survey-likert-sliderlabels {
  font-size: 75%;
  line-height: 1.15em;
}

.jspsych-survey-likert-question {
  margin-top: 2em;
  margin-bottom: 2em;
}

.jspsych-survey-likert-text {
  text-align: center;
}

#jspsych-survey-likert-next {
  display: block;
  margin: auto;
}

/*
*
* PLUGIN: jspsych-visual-search-circle
*
*/

#jspsych-visual-search-circle-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * PLUGIN: jspsych-vsl-animate-occlusion
 *
 */

#jspsych-vsl-animate-occlusion-canvas {
  display: block;
  margin: auto;
}

/*
 *
 * PLUGIN: jspsych-xab
 *
 */

 .jspsych-xab-stimulus {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .progress{
     height: 1.0vw;
     position: absolute;
     left: 20%; right: 20%;
     background-color: #292b29;
     margin-bottom: 4vw;
     z-index:10;
     width: 60%
 }

 #progress-bar{
     height: 100%;
     width: 100%;
     -webkit-transition: none !important;
     transition: none !important;
     z-index: 11;
     background-color:#356ba5;
 }
